<div class="card">
    {% if node.field_image_reference_thumb is not empty %}
    <a href="{{ url }}">
      <img
        src="{{ node.field_image_reference_thumb.value }}"
        onerror="this.onerror=null;this.src='/sites/default/files/image-pending.jpg';"
        alt="Artwork {{ node.title.value }} this artwork made of {{ node.field_medium_statement.value }}, created in {{ node.field_creation_date_range.value }}"
        class="card-img-top">
    </a>
    {% elseif node.field_image_reference is not empty %}
    <a href="{{ url }}">
      <img
        src="{{ node.field_image_reference.value }}"
        onerror="this.onerror=null;this.src='/sites/default/files/image-pending.jpg';"
        alt="Artwork {{ node.title.value }} this artwork made of {{ node.field_medium_statement.value }}, created in {{ node.field_creation_date_range.value }}"
        class="card-img-top">
    </a>
    {% else %}
    <a href="{{ url }}">
      <img
        src="/sites/default/files/image-pending.jpg"
        alt="Artwork has not been digitised or not available due to pending copyright clearence, thus not currently available online"
        class="card-img-top">
    </a>
    {% endif %} 
    <div class="card-body">
      <a href="{{ url }}" title="View {{ node.title.value }} object details"><h3 class="card-title"><em>{{ node.title.value }}</em> {{node.field_date_created.value}}</h3></a>
      <p class="card-text">
        {% if node.field_creator_list is not empty %}
        {{node.field_creator_list.value}} 
        {% else %}
        next import: Creator List
        {% endif %} 
      </p>
    </div>
  </div>