
  <div class="card">
    <div class="card-body">
      <a href="{{ url }}">
        <h3 class="card-title">{{ node.title.value }}</h3>
      </a>
      <p class="card-subtitle mb-2 text-muted">
        {{content.field_date_of_birth.0}}
        {% if node.field_date_of_death is not empty %}
        - {{content.field_date_of_death.0}}
        {% else %}
        - present
        {% endif %}
        {% if node.field_principle_country is not empty %}
          {% set country %}
              {{ content.field_principle_country }}
          {% endset %}	
          | {{ country|striptags }}
        {% endif %}
      </p>
      <a href="{{ url }}" class="card-link">Full profile for {{ node.title.value }}</a>
    </div>
  </div>